
.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.black {
  background-color: black;
  color: #666;
}

input {
  all: unset;
  flex: 1;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin: 10px auto;
  margin-right: 10px;
  box-shadow: 0 0 5px #00000011
}

.generate-button {
  border: 1px solid orange;
}